#vege1{
    background-color: green;
}
#vege2{
    background-color: rgb(49, 0, 128);
}
#vege3{
    background-color: rgb(128, 0, 0);
    color: bisque;
}
#vege4{
    background-color: rgb(223, 67, 6);
}
#fruit1{
    background-color: rgb(185, 8, 26);
    color: aliceblue;
}
#fruit2{
    background-color: green;
}
#fruit3{

    background-color: rgb(250, 226, 11);
}

